<h2 class="quotenumber">
  <span>Quoter / No. <%= @quote.id %> </span>
  &nbsp; Great Quotes for Great Days:
</h2>

<br/>
<br/>
<br/>


<h1> <%=@quote.saying %></h1>
<h2 class='pull-right'>- <%=@quote.author %></h2>


<br class="clear" />

<br/>
<br/>
<br/> 

